{{ define "main" }}
  {{ .Scratch.Set "scope" "single" }}
  <article>
    {{/* Hero */}}
    {{ if .Params.showHero | default (site.Params.article.showHero | default false) }}
      {{ $heroStyle := .Params.heroStyle }}
      {{ if not $heroStyle }}{{ $heroStyle = site.Params.article.heroStyle }}{{ end }}
      {{ $heroStyle := print "hero/" $heroStyle ".html" }}
      {{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
        {{ partial $heroStyle . }}
      {{ else }}
        {{ partial "hero/basic.html" . }}
      {{ end }}
    {{ end }}

    {{/* Header */}}
    <header id="single_header" class="mt-5 max-w-4xl">
      {{ if .Params.showBreadcrumbs | default (site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
        {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
      </div>
    </header>

    {{/* Body */}}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      {{ $enableToc := site.Params.article.showTableOfContents | default false }}
      {{ $enableToc = .Params.showTableOfContents | default $enableToc }}
      {{ $showToc := and $enableToc (in .TableOfContents "<ul") }}
      {{ $topClass := cond (hasPrefix site.Params.header.layout "fixed") "lg:top-[140px]" "lg:top-10" }}
      {{ if $showToc }}
        <div class="order-first lg:ms-auto px-0 lg:order-last lg:ps-8 lg:max-w-2xs">
          <div class="toc ps-5 print:hidden lg:sticky {{ $topClass }}">
            {{ partial "toc.html" . }}
          </div>
        </div>
      {{ end }}

      <div class="min-w-0 min-h-0 flex-1">
        <div class="article-content mb-20">
          {{ .Content }}
        </div>
        {{ partial "sharing-links.html" . }}
        {{ partial "related.html" . }}
      </div>
    </section>

    {{/* Footer */}}
    <footer class="pt-8 max-w-4xl print:hidden">
      {{ partial "article-pagination.html" . }}
      {{ if .Params.showComments | default (site.Params.article.showComments | default false) }}
        {{ if templates.Exists "partials/comments.html" }}
          <div class="pt-3">
            <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
            <div class="pt-3">
              {{ partial "comments.html" . }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </footer>
  </article>
{{ end }}
